@using EntityLayer.Concrate
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>

    <h2 style="margin-top:-25px;float:left">Başlık</h2>
    <a href="/Heading/AddHeading" class="btn  btn-info" style="float: right; margin-top: -25px;">Yeni Kategori Ekle</a>
</div>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kategori</th>
    </tr>
    @foreach(var item in Model )
    {
<tr>
    <th>@item.HeadingID</th>
    <td>@item.HeadingName</td>
    <td>@item.Category.CategoryName</td>

</tr>
    }
</table>

<br />
<br />